name: df_api_repository
description: Base repository pattern for Dio-based APIs with pagination helpers.
version: 0.1.0
publish_to: 'none'

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.7.0
